body{
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;   
    min-height: 100vh;
}
.container{
    display: flex;
    padding: 10px;
    justify-content: space-between;
    background-color: aqua;
    height: 45px;
    font-size: 24px;
    font-weight: bold;
}
.box{
    text-align: center;
    margin-top: 250px;
}
.wrap{
    height: auto;
    width: 100%;
    background-color: yellow;
    flex: 1;
}
 .btn{
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 20px;
 }