*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;         
}
.container{
    width: 650px;
    height: 450px;
    background-color: lightblue;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 200px;
    border: 2.2gpx solid #000;

}
.details{
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: 40px;
    line-height: 40px;
}
.btn{
    margin-left: 20px;
    padding: 10px 20px;
    background-color: blue;   
}